body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vertical-ruler {
    position: relative;
  }
  
  .ruler {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
  
  .line {
      border-bottom: 1px solid #000;
      padding-left: 5px;
    }
  
    .line-red {
        border-bottom: 1px solid #f00;
        padding-left: 5px;
      }
    
      
  
  .guide {
    position: absolute;
    left: 0;
    width: 100%;
    border-top: 1px dashed #f00; /* Guide line color */
  }
  